[user]
	name = Dom Del Nano
	email = ddelnano@gmail.com
[push]
	default = simple
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[core]
	editor = vim
	autocrlf = input
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
