snippet des "Mocha describe test" !b
describe('${1}', () => {

    ${0}
});
endsnippet

snippet it "Mocha it test" !b
it('${1}', () => {

    ${0}
});
endsnippet

snippet fn "ES2015 function" !b
(${1}) => {
    ${0}
}
endsnippet
