snippet <? "PHP file definition" b
<?php

${0}
endsnippet

snippet class "PHP Class Definition" b
<?php

class ${1} {

${0}
}
endsnippet

snippet pubf "Public method" !b
public function ${1}(${2}) 
{
    ${0}
}
endsnippet

snippet prof "Protected method" !b
protected function ${1}(${2})
{
    ${0}
}
endsnippet

snippet pubsf "Public static method" !b
public static function ${1}(${2})
{
    ${0}
}
endsnippet
